body{
	background-color: #303030;
	margin: 0;
	padding: 0;
	font-family: lato,tahoma;
	color: white;
}
.header-nav{
	background: url('img/ocean.jpg') center;
	background-position-x: 75%;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}
/*
.header-content{
	display: flex;
	align-item: center;
	justify-content: center;
	flex-direction: column;
}
*/

h1,
h2{
	text-align: center;
	padding-top: 150px;
}
h1{
	font-size: 40px;

}
h2{
	font-size: 26px;
}
/*
.logo{
	color: white;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	padding-left: 20px;
	padding-top: 20px;
}

.menu-nav
{
	background-color: #14A3CB;
	width: 280px;
	position: absolute;
	
	color: #303030;

}

*/
button
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	padding: 5px;
	background-color: #14A3CB;
	font-size: 25px;
	color: #fff;
	height: 70px;
	border: 0;
	margin-top: -35px;
	margin-left: -100px;
	border-radius: 10px;
}

.section-text
{
	background: #272e3f;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.section-text-p
{
	position: absolute;
	color: #fff;
	max-width: 500px;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 40px;
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 50%;
	margin-top: 635px;

}

.section-text-p:hover
{
	background: #7d84a4;
	opacity: 0.6;
	color: #303030;
}

ol
{
	color: white;
	font-size: 10px;
	width: 300px;
	text-align: center;
	height: 20px;
}



/*mobile*/
@media (max-width: 640px)
{
	.menu-nav{
	background-color: white;
	}
	
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 16px;
	}
	
	
}