body
{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 26px;


}

.site-nav
{
    height: 40px;
    width: 100%;
    background-color: #4e5279;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;

}

.site-menu-trigger
{
    border: 0;
    border-radius: 5px;
    background: #ffffff;
}

.site-menu
{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 0;
    height: 100%;

    background: #34b399; 
}

.site-menu ul
{
    padding: 0;
    list-style-type: none;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.site-menu li
{
    background: #ffffff;
    margin-top: 20px;
    color: #696e9e;
    border-radius: 5px;
    display: flex;
    height: 30px;

}

.site-menu a
{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
}